body {
    top:0px;
    left:0px;
    padding:0px;
    margin:0px;
    position:absolute;
    background-color: gray;
    overflow: scroll;
}

.chatwindow {
    background-color: red;
    top:0px;
    width:100vw;
    height:90vh;
}

.footer {
    width:100vw;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chatbox {
    width:90vw;
    height: 4vh;
}

input {
    border-radius: 20px;
    width:90%;
    height:50%;
    padding-left: 10px;
}

p {
    margin-top:0px;
}
