body {
    top:0px;
    left:0px;
    padding:0px;
    margin:0px;
    position:absolute;
    background-color: gray;
    overflow: scroll;
}

.chatwindow {
    background-color: rgb(113, 185, 199);
    /* padding:100px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 1px;
    left:0px;
    top:0px;
    position: relative;
    width:81vw;
    height:50vh;
    border-bottom: 1cm;
    border-right: 1cm;
    border-top: 1cm;
    border-left: 1cm;
    border-radius: 1%;
    border-style:ridge;
    border-color: rgba(0, 0, 0, 0.334);
}

.footer {
    width:100vw;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chatbox {
    width:90vw;
    height: 4vh;
}

input {
    border-radius: 20px;
    width:90%;
    height:50%;
    padding-left: 10px;
    padding-bottom: 10px;
}

p {
    margin-top:0px;
}
