{% extends "base.html" %}

{% block content %}

{% endblock content %}

{% block footer %}

<form class="chatbox" method="post" autocomplete="off">
    <input class="chatbox" id="chatbox" name="chat_text" max="1000" required>
</form>

{% endblock footer %}

<!-- {% block script %} -->
<!-- <script> -->
<!--     chatbox = document.getElementById("chatbox"); -->
<!--     chatbox.addEventListener("keydown", function submitForm() { -->
<!--         if (event.key == "Enter") { -->
<!--             chatbox.submit(); -->
<!--             console.log("TEST"); -->
<!--         } -->
<!--     }); -->

<!-- </script> -->
<!-- {% endblock script %} -->
