<!DOCTYPE html>

<head>
    <title>Register</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profileStyle.css') }}">

</head>

<body>
    <div class="account-page">
        <h3>Please enter a name, email, and password for an account</h3>
        <form method="post" class="pos">
            <p>------Name:<input type="text" id="name" name="name" required></p>
            <p>------Email:<input type="text" id="email" name="email" required></p>
            <p>--Password:<input type="text" id="password" name="password" required></p>
            <p><button type="submit">Submit</button></p>
        </form>
    </div>
</body>

{% block script %}{% endblock script %}
